@model MvcMovie.Models.Student
@{
    ViewData["Title"] = "Tính Điểm Môn Học";
}

<h1>@ViewBag.InfoMessage</h1>

<form method="post" asp-action="Index">
    <label>Nhập Person ID:</label>
    <input type="text" asp-for="StudentId" />
    <br />
    <label>Nhập Họ Tên:</label>
    <input type="text" asp-for="FullName" />
    <br />
    <label>Điểm thành phần A:</label>
    <input type="number" step="any" asp-for="PointA" />
    <br />
    <label>Điểm thành phần B:</label>
    <input type="number" step="any" asp-for="PointB" />
    <br />
    <label>Điểm thành phần C:</label>
    <input type="number" step="any" asp-for="PointC" />
    <br />
    <input type="submit" value="Tính điểm" />
</form>
@if (Model != null)
{
   <p>Điểm tổng kết của bạn là: @Model.CalculateFinalScore().ToString("0.################")</p>
}